/* CSS для кнопок в Navbar */
@font-face {
    font-family: 'HalvarBreitt';
    src: url('../../../../../shrift/shrift/._HalvarBreitt2-XBd.otf') format('opentype'); /* Путь от корня проекта */
    font-weight: normal;
    font-style: normal;
}
.navbar .btn {
    background-color: #7fff00; /* Салатовый цвет фона */
    color: black; /* Черный цвет шрифта */
    border-radius: 25px; /* Закругленные углы */
    border: none; /* Убираем стандартную рамку */
    padding: 10px 20px; /* Увеличиваем отступы для удобства */
    font-weight: 500;
    font-family: 'HalvarBreitt', sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Плавные эффекты */
}

.navbar .btn:hover {
    background-color: #66ff33; /* Более темный салатовый при наведении */
    transform: scale(1.05); /* Немного увеличиваем кнопку при наведении */
}

.navbar .btn:focus {
    outline: none; /* Убираем обводку при фокусе */
}














